* {
    margin: 0;
    padding: 0;
}

body {
    background: lightblue;
}

.header {
    background-color: darkblue;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: 50px;

}

.header ul {
    display: inline-flex;
    padding: 10px;
}

.header ul a {
    text-decoration: none;
    padding-left: 30px;
    color: white;
    font-size: xx-large;

}

.logo {
    height: 50px;

}

.logo img {
    height: 70px;
}

.user {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    padding: 30px;
    border-style: double;
    border-radius: 30px;
    background: lightcoral;
    justify-content: space-between;
}

.search {
    display: inline-block;
    box-sizing: border-box;
    line-height: 20px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-sizing: border-box;
    line-height: 20px;
    height: 30px;
    vertical-align: middle;
    padding: 12px 20px;
    padding-left: 35%;
}

.search input {
    height: auto;
    width: 300px;
    background-color: lightcyan;
    border-style: none;
    padding: 10px;
}


.search button {
    height: auto;
    width: auto;
    background-color: lightslategray;
    border-style: none;
    padding: 5px;

}

.search button:hover {
    color: white;
}


.box {
    display: inline-block;
    box-sizing: border-box;
    line-height: 20px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-sizing: border-box;
    line-height: 20px;
    height: 30px;
    vertical-align: middle;
    padding: 12px 20px;
    padding-left: 35%;
    margin-top: 20px;

}

.box input {
    height: auto;
    width: 300px;
    background-color: lightcyan;
    border-style: none;
    padding: 10px;

}





.box button {
    height: auto;
    width: auto;
    background-color: lightslategray;
    border-style: none;
    padding: 5px;

}

.box button:hover {
    color: white;
}


@media only screen and (max-width:1200px) {}